#root {
  width: 50%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.Polaris-Select{
  width: 30%;
}
.Polaris-DataTable__Cell--header{
  border-bottom: none !important;
}

.Polaris-DataTable__Cell.Polaris-DataTable__Cell--verticalAlignTop.Polaris-DataTable__Cell--header{
  width: 200px !important;
}